.picture {
  width: 111px;
  height: 140px;
  background: snow;
  background-size: cover;
  display: table-cell;
}
button{
  outline: none;
  font-family: 'Montserrat Alternates', sans-serif!important;
}
.func_info{
  display: table-cell;

}
.item {
  margin-bottom: 15px;
}
.item_info {
  margin-left: 10px;
}
.backPointer {
  width: 25px;
  height: 25px;
}
a {
  text-decoration: none;
}
.backButton {
  color: black;
}
.discountLine {
  text-decoration: line-through;
}
