<div class="container">
  <a [routerLink]="['/']"><div class="backButton"><img  class="backPointer" src="../../assets/back.png"> к покупкам</div> </a>
  <div class="item" *ngFor="let item of shoppingCartItems; let i = index" >
    <div class="picture" [style.background]="'url('+item.imgUrl+')'" [style.background-size]="'cover'">

    </div>
    <div class="func_info">
      <button mat-button><b>Изменить</b></button>
      <button mat-button><b>Сохранить на потом</b></button>
      <button mat-button (click)="removeItem(i)"><b>Удалить </b></button>
      <div class="itemInfo">
        <p>{{item.short_description}}</p>
        <p>{{item.brand}} / {{item.type}} / {{item.sex}}</p>
        <p *ngIf="item.discount > 0" class="discountLine">{{item.price}} RUB</p>
        <p>{{item.price*((100-item.discount)/100)}} RUB</p>
      </div>
    </div>
    <mat-form-field>
        <mat-select placeholder="Selected size">
          <mat-option *ngFor="let size of sizeList | filterSize:item " [value]="size.value"> <!--Настроить вывод только доступных размеров -->
            {{size.viewValue}}
          </mat-option>
        </mat-select>
    </mat-form-field>

  </div>
  <p *ngIf="shoppingCartItems.length > 0">Total: {{getTotal() | async}} RUB</p>
</div>
