<div class="container">
  <div class="row">
  <div class="picture col-lg-8">
    <div class="actual_pic text-center">
      <img src={{soloItem.imgUrl}}>
      <p>{{soloItem.full_description}}</p>
      <p>{{soloItem.type}}</p>
    </div>
  </div>
   <div class="info col">
       <div class="purchase_info ">
            <p>{{soloItem.full_description}}</p>
            <p class="text-lg-center">{{soloItem.price}} руб</p>
            <p>{{soloItem.type}}/{{soloItem.brand}}</p>
            <div class="text-center"><button mat-button (click)="addToCart(soloItem)">Купить</button></div>
        </div>
        <div class="item_info">
          <p>{{soloItem.type}}/{{soloItem.brand}}</p>
        </div>
    </div>
    </div>
</div>


