@import url('https://fonts.googleapis.com/css?family=Montserrat+Alternates:200');
.actual_pic{
  margin-top: 15px;

}
.purchase_info{
  margin-top: 30px;
}
.item_info {
  background-color: #f8f9fa;
  margin:0 auto;
}
.info_col{
  margin: 0px !important;
}

button{
  font-family: 'Montserrat Alternates', sans-serif!important;
  outline: none;
}
img {
  height: 600px;
  width: 400px;
}
