<h2>Login</h2>
<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

  <label>
    Login:
    <input type="text" formControlName="login" required minlength="4">
  </label>

  <label>
    Password:
    <input type="password" formControlName="password" required minlength="5">
  </label>
  <p>
    Form Status: {{loginForm.status }}
  </p>
  <button type="submit" >Log In</button>
</form>

