<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" [routerLink]="['/']"><b>Stop it, Kostya</b></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['/']">Мужчины <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['/']">Женщины</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['/']">Сезон</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['/']">Бренд</a>
        </li>
      </ul>
    </div>
     <div class="float-right">
      <a  [routerLink]="['cart']">
        <button class="btn" value="1">
          <div class="cart">
            {{(shoppingCartItems$ | async).length}}
          </div>
        </button>
      </a>
    </div>
    <a routerLink="/item/5" routerLinkActive="active"></a>
    <a routerLink="/login" routerLinkActive="active">Login</a>
  </nav>

  <router-outlet (changed)="onChanged()"></router-outlet>
</div>
