@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");


.cart {
  background: url("../assets/shopping-cart.png");
  height: 32px;
  width: 32px;
  color: #f8f9fa;
}
.container {
  margin-bottom: 50px;
}

