/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Montserrat+Alternates:200');

html, body { height: 100%; }
body { margin: 0; font-family: 'Montserrat Alternates', sans-serif!important; }
