<app-carousel></app-carousel>
<mat-form-field>
  <mat-select placeholder="Type" [(ngModel)]="selectType" (selectionChange)="filter()">
    <mat-option *ngFor="let type of typeList" [value]="type.value">
      {{ type.viewValue }}
    </mat-option>
  </mat-select>
</mat-form-field>

<mat-form-field>
  <mat-select placeholder="Brand" [(ngModel)]="selectBrand" (selectionChange)="filter()">
    <mat-option *ngFor="let brand of brandList" [value]="brand.value">
      {{ brand.viewValue }}
    </mat-option>
  </mat-select>
</mat-form-field>

<mat-form-field>
  <mat-select placeholder="Size" [(ngModel)]="selectSize" (selectionChange)="filter()">
    <mat-option *ngFor="let size of sizeList" [value]="size.value">
      {{size.viewValue }}
    </mat-option>
  </mat-select>
</mat-form-field>


<div class="mainwindow" >
  <div class="item" *ngFor="let item of filtredItems" >
    <div class="picture" [style.background]="'url('+item.imgUrl+')'" [style.background-size]="'cover'">
      <div class="promoteBlock" *ngIf="item.discount > 0">-{{item.discount}}%</div>
    </div>
    <div class="info">
        <p>{{item.short_description}}</p>
        <div class="crossedLine" *ngIf="item.discount > 0">{{item.price}}</div>
        <p class="price">{{item.price*((100-item.discount)/100)}} руб</p>
        <div class="size">Sizes:</div>
        <div class="size" *ngIf="item.xs>0">XS </div>
        <div class="size" *ngIf="item.s>0">S </div>
        <div class="size" *ngIf="item.m>0">M </div>
        <div class="size" *ngIf="item.l>0">L </div>
        <div class="size" *ngIf="item.xl>0">XL </div>
        <div class="size" *ngIf="item.xxl>0">XXL </div>
    </div>
    <div class="more" >
      <a [routerLink]="['item', item.uid]"><button mat-button><mat-icon>visibility</mat-icon>Подробнее</button></a>
    </div>
  </div>
</div>
