@import url('https://fonts.googleapis.com/css?family=Montserrat+Alternates:200');
 p {
  margin: 0px;
}
.picture {
  width:222px ;
  height: 280px;
  background: snow ;
  background-size: cover;


}
.price{
  font-size: 16px!important;

  /*text-decoration: line-through;*/
}
.crossedLine {
  text-decoration: line-through;

}

.pictureZoom {
  width:222px ;
  height: 280px;
  background: red ;
  background-size: cover;
  display: inline-block;
}
.item:hover .picture{
  background: snow;
  background-size: cover;
}
.item:hover   .more{
  visibility: visible;

}
.item:hover {
  transform: scale(1.15);
}
.item {
  height: 324px;
  width: 222px;
  background: white;
  display: inline-block;
}
button {
  width:100%;
  font-family: 'Montserrat Alternates', sans-serif!important;
}
.more {
  visibility: hidden;
  background: #fafafa;
  margin-top:0px;
}
.item p {
  font-size: 12px;
}
button{
  outline: none;
}
.promoteBlock {
  display: inline-block;
  font-size: 16px;
  background: indianred;
  border-radius: 5px;
  margin-left: 5px;
 }
.info {
  height: 90px;
}
.size {
  display: inline-block;
  border:  1px black;
  margin-right: 5px;
}


